
        .container {
            width: 70%;
            margin: auto;
            text-align: center;
        }
  
        .dice {
            text-align: center;
            display: inline-block;
            margin: 10px;
        }
  
        body {
            background-color: gold;
            margin: 0;
        }
  
        h1 {
            margin: 30px;
            font-family: "Monserrat";
            text-shadow: 5px 0 #232931;
            font-size: 5rem;
            color: lightsalmon;
            text-align: center;
        }
  
        p {
            font-size: 2rem;
            color: lightsalmon;
            font-family: "Indie Flower", cursive;
        }
  
        img {
            width: 115%;
        }
  
        .bottom {
            padding-top: 30px;
        }
  
        .butn {
            background: lightsalmon;
            font-family: "Indie Flower", cursive;
            border-radius: 7px;
            color: #ffff;
            font-size: 30px;
            padding: 16px 25px 16px 25px;
            text-decoration: none;
        }
  
        .butn:hover {
            background: #232931;
            text-decoration: none;
        }